body {
  background-color: yellow;
}

@media screen and (max-width: 576px) {
  body {
    background-color: pink;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }